build/*
*~
*.bak
*.swp
*.tmp
*.pyc
*.mode1v3
*.pbxuser
project.xcworkspace
xcuserdata
3rdParty/Code/3rdParty/three20/Build/
.DS_Store
MCResources/RogerthatConfig.plist
debug-scripts/setRogerthatConfigInDebug
release-scripts/updateRogerthatConfig
release-scripts/updateRogerthatInfo
release-scripts/.project
release-scripts/.pydevproject
venv
MCResources/Art/splash_screen*
.idea
.project
.pydevproject
